{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!
{% endblock %}

{% block body %}
	<main class="home-body">
		<section class="present">
			<h1>On se présente ! !</h1>
		</section>


	</main>
{% endblock %}
