{% extends 'base.html.twig' %}

{% block title %}Bienvenue !
	{{ parent() }}
{% endblock %}

{% block body %}
	<main class="home-body">
		<section class="present present-home">
			<div class="body-par">
				<div class="text-par">
					<h1 class='home-title'>
						Bienvenue sur le site du conseil syndical des Pinsons
					</h1>
					<p class='home-text'>Ce site à été créer afin de faciliter les échanges entre les Propriétaires, locataires, et les membres du conseil syndical.
					</p>
					<p class='home-text'>Comme vous le savez, le conseil syndical est formé de copropriétaires qui coordonne les relations entre le Syndic et les copropriétaires.

					</p>
					<p class='home-text'>Nous ne sommes pas rémunérés et nous avons pour la plupart un travail à côté !</p>
					<p class='home-text'>
						Vous avez perdu un badge, le conseil syndical peut vous en refaire un nouveau rapidement, et neutraliser celui perdu. Il est également possible de faire un badge supplémentaire. Le coût de ce nouveau badge est de 10€ au 26/10/2022, qu'il soit perdu ou supplémentaire.
					</p>
					<p class="home-text">Les badges duppliqués à partir d'un autre badge n'etant pas reconnu par notre centrales, seront désactivés. Il en va de la sécurité de chacun. De plus, le coût est souvent supérieur à ceux fourni par le conseil syndical
					</p>
					<p class='home-text'>
						Pour une demande de badge, ou un renseignement, Merci d'utiliser le formulaire, nous reviendrons vers vous sous 24 heures.
					</p>

					<p class='home-text'>Ce site est jeune, il s'améliorera au fil du temps, avec un système de messagerie. Toute idée est la bienvenue !</p>

					<p class='home-text'>
						Merci de votre compréhension.</p>
					<h3 class="signature">Le conseil syndical</h3>
				</div>
				<div class="home-photo">
					<img src="{{asset('assets/images/images/CPPinsons1970.jpg')}}" alt="La copropriété">

				</div>
			</div>
		</section>


	</main>
{% endblock %}
