{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}
	<main class="home-body">
		<section class="present">
			<h1>c'est le contact !</h1>
		</section>


	</main>
{% endblock %}
