<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Le conseil syndical de la résidenence "LES PINSONS"
			{% endblock %}
		</title>
		<link rel="icon" href="{{asset('assets/images/icones/logo.ico')}}">
		{% block stylesheets %}
			<link rel="stylesheet" href="assets/css/reset.css">
			<link rel="stylesheet" href="assets/css/home.css">
			<link rel="stylesheet" href="assets/css/general.css">
			<link rel="stylesheet" href="assets/css/nav.css">
		{% endblock %}
	</head>
	<body>
		{% include '_Partials/_Navbar.html.twig' %}
		{# <container class="decal"></container> #}
		{% block body %}{% endblock %}
		{% block javascripts %}
			<script src="assets/js/nav.js"></script>
			<script src="assets/js/scroll.js"></script>

		{% endblock %}
	</body>
</html>
